html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: auto;
    min-height: 100vh;
    --red: #F44336;
    --green: #4CAF50;
    --blue: #2196F3;
    --noir: #2c3e50;
}

.burgerButton {
    position: fixed;
    z-index: 25;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    /* border: 1px solid #000; */
    cursor: pointer;
}

.span1 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 8px;
    background-color: #fff;
    transition-duration: 0.5s;
}
.span1Open {
    transform: rotate(-45deg);
    top: 14px;
}

.span2 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 18px;
    background-color: #fff;
    transition-duration: 0.5s;
}
.span2Open {
    display: none;
}

.span3 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 28px;
    background-color: #fff;
    transition-duration: 0.5s;
}
.span3Open {
    transform: rotate(45deg);
    top: 14px;
}

.burgerMenu {
    position: fixed;
    z-index: 20;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: #192A56;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.burgerMenuOpen {
    left: 0;
}

.burgerMenu>a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

header {
    position: absolute;
    width: 75vw;
    height: 80px;
    margin: auto;
    z-index: 15;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header>h1 {
    color: #fff;
    margin-left: 20px;
}

main {
    min-height: 100vh;
    background: radial-gradient(#fff, #192A56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separation {
    width: 50vw;
    height: 50px;
    margin-top: 65px;
}

.boxEssai {
    width: 50vw;
    min-height: 65vh;
    background: radial-gradient(var(--noir), #192A56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000;
    margin-top: 5px;
}
.boxEssai>h2 {
    color: #fff;
}
.boxEssai>p {
    color: #fff;
}

.choixHeure {
    width: 500px;
    height: 65px;
    /* border: 1px solid #000; */
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterNumber {
    margin: 0 10px 0 10px;
}

.validNumber {
    margin: 0 10px 0 10px;
}

.resultBox {
    width: 100%;
    height: 400px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ligneDuree {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ligneDuree>p {
    border: 1px solid #000;
    padding: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px;
}

.ligneFinRdv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ligneFinRdv>p {
    border: 1px solid #000;
    padding: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px;
}

.resultRdv {
    width: 50%;
    height: 50px;
    /* border: 1px solid #000; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton {
    /* border: 1px solid #000; */
    padding: 20px;
    margin-bottom: 40px;
    width: 200px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bouton>a {
    text-decoration: none;
    color: #fff;
    background-color: #2196F3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
}
.bouton>a:hover {
    padding: 15px;
}

.inputNumber {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputNumber>input {
    margin: 0 10px 20px 10px;
    height: 35px;
}
.inputNumber>a {
    margin: 0 10px 20px 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    font-weight: bold;
}

.result {
    /* border: 1px solid #fff; */
    width: 95%;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.result2 {
    /* border: 1px solid #fff; */
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.boutons {
    /* border: 1px solid #000; */
    padding: 10px;
    
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.boutons>a {
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    font-weight: bold;
}
.ok {
    background-color: var(--green);
}
.stop {
    background-color: var(--blue);
}
.reset {
    background-color: var(--red);
}



.imagePng {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 200px;
    cursor: pointer;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    .boxEssai {
        width: 75vw;
    }
}

@media screen and (max-width: 600px) {
    .boxEssai {
        width: 95vw;
    }
}