html, body {
    margin: 0;
    padding: 0;
}

.burgerButton {
    position: fixed;
    z-index: 25;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    /* border: 1px solid #000; */
    cursor: pointer;
}

.span1 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 8px;
    background-color: #000;
    transition-duration: 0.5s;
}
.span1Open {
    transform: rotate(-45deg);
    top: 14px;
}

.span2 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 18px;
    background-color: #000;
    transition-duration: 0.5s;
}
.span2Open {
    display: none;
}

.span3 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 28px;
    background-color: #000;
    transition-duration: 0.5s;
}
.span3Open {
    transform: rotate(45deg);
    top: 14px;
}

.burgerMenu {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    transition-duration: 0.5s;
}
.burgerMenuOpen {
    left: 0;
}