html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.burgerButton {
    position: fixed;
    z-index: 25;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    /* border: 1px solid #000; */
    cursor: pointer;
}

.span1 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 8px;
    background-color: #fff;
    transition-duration: 0.5s;
}
.span1Open {
    transform: rotate(-45deg);
    top: 14px;
}

.span2 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 18px;
    background-color: #fff;
    transition-duration: 0.5s;
}
.span2Open {
    display: none;
}

.span3 {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 28px;
    background-color: #fff;
    transition-duration: 0.5s;
}
.span3Open {
    transform: rotate(45deg);
    top: 14px;
}

.burgerMenu {
    position: fixed;
    z-index: 20;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: #192A56;
    transition-duration: 0.5s;
}
.burgerMenuOpen {
    left: 0;
}



main {
    min-height: 100vh;
    background: radial-gradient(#fff, #192A56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxEssai {
    width: 75vw;
    min-height: 75vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.choixHeure {
    width: 500px;
    height: 65px;
    /* border: 1px solid #000; */
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterNumber {
    margin: 0 10px 0 10px;
}

.validNumber {
    margin: 0 10px 0 10px;
}

.resultBox {
    width: 100%;
    height: 400px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ligneDuree {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ligneDuree>p {
    border: 1px solid #000;
    padding: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px;
}

.ligneFinRdv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ligneFinRdv>p {
    border: 1px solid #000;
    padding: 10px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px;
}

.resultRdv {
    width: 50%;
    height: 50px;
    /* border: 1px solid #000; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton {
    /* border: 1px solid #000; */
    padding: 20px;
    margin-bottom: 40px;
    width: 200px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bouton>a {
    text-decoration: none;
    color: #fff;
    background-color: #2196F3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
}
.bouton>a:hover {
    padding: 15px;
}

/* RESPONSIVE */
